www.blackjack-trainer.co {
    redir https://blackjack-trainer.co{uri} permanent
}

blackjack-trainer.co {
    encode gzip
    log {
        output stdout
        format json
    }
    reverse_proxy api:3001
}
